h1 {
	width: 72.5%;
	margin: 12px 12.5% 0 12.5%;
	border-style: outset;
	border-radius: 5px;
	display: inline-table;
	padding: 1%;
	font-family: "Palatino Linotype";
	letter-spacing: 1px;
	font-weight: bolder;
	color: #555555;
}

#sectionWrap {
/*	border: 1pt solid black;*/
	margin: 0 auto;
	width: 75%;
	align-items: center;
}
content {
	display: inline-block;
	border-style: outset;
	width: 100%;
	overflow: hidden;
}
div.column {
	width: 48%;
	float: left;
	margin: 1%;
}