h1 {
	width: 72.5%;
	margin: 12px 12.5% 0 12.5%;
	border-style: outset;
	border-radius: 5px;
	display: inline-table;
	padding: 1%;
	font-family: "Palatino Linotype";
	letter-spacing: 1px;
	font-weight: bolder;
	color: #555555;
}

#sectionWrap {
/*	border: 1pt solid black;*/
	margin: 0 auto;
	width: 75%;
}
content {
	display: inline-block;
	border-style: outset;
/*	position: absolute;*/
	width: 100%;
	margin: 3% 0 3% 0;
	overflow: hidden;
}
div.column {
	width: 30%;
	float: left;
	margin: 1.5%;
}
div.caption {
	padding: 0 2.5% 2.5% 2.5%;
}